<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SectionName</key>
		<string></string>
		<key>SectionRow</key>
		<array>
			<dict>
				<key>CellTitle</key>
				<string>ㅎㅇ?</string>
				<key>CellType</key>
				<string>SettingCell</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>버전정보</string>
				<key>CellType</key>
				<string>SettingCell</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>개발자에게 문의하기</string>
				<key>CellType</key>
				<string>SettingCell</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>자동로그인 설정</string>
				<key>CellType</key>
				<string>SettingSwitchCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
